body{
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #efefef;
}
h1{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0%;
}
img{
  max-width: 100%;
  padding: 0%;
  margin: 0%;
}

.banner{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.banner:hover{
cursor: pointer;
}
.top{
  background-image: linear-gradient(to bottom, #ffd000, #f5bc00);
  height: 10px;
}
.barraMenu{
  background-image: linear-gradient(to bottom, #ffd000 40%, #f5bc00 60%);
  /* box-shadow: 0px 15px 40px rgb(116, 116, 116); */
  height: 80px;
  text-align: center;
  position: relative;
}
.botonesBarra{
  margin: 0px 3px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: linear-gradient(to bottom, #323949 50%, #090f25 60%);
  height: 65%;
  width: 140px;
  color: #e4e4e4;
  font-size: large;
  border-color: black;
}
.botonesBarra:hover{
  cursor: pointer;
}
.botonesBarra:active:hover{
  background-image: linear-gradient(to bottom,#454e61 50%,#202a4e 60%);
  border-color: black;
  color: white
}
.botonOrdenar{
  margin: 0px 3px;
  position: relative;
  top: 50%;
  text-align: center;
  /* letter-spacing: 1em; */ /* Creado para probar si cumplia con el criterio 1.4.12 del WCAG 2.1*/
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: linear-gradient(to bottom, #323949 50%, #090f25 60%);
  height: 65%;
  width: 240px;
  color: #e4e4e4;
  font-size: large;
  border-color: black;
}
.botonOrdenar img{
  margin-left: 10%;
  height: 6%;
  width: 6%;
}
.botonOrdenar:hover{
  cursor: pointer;
}
.botonOrdenar:active:hover{
  background-image: linear-gradient(to bottom,#454e61 50%,#202a4e 60%);
  border-color: black;
  color: white
}
.textoBoton{
  text-align: left;
  
  font-size: auto;
}


#vehiculos {
  background-color: #ffffff;
  display:block;
  padding: 0px;
  margin: 0% auto; /* Centra el contenedor */
  max-width: 900px; /* Establece un ancho máximo para el contenedor */
  box-sizing: border-box; /* Incluye padding y border en el ancho del contenedor */
  justify-content: center;
}

.tarjeta-vehiculo {
  width: calc(300px - 20px); /* Asegura que se alineen tres tarjetas por fila */
  border: 1px solid #ccc;
  margin: 10px;
  padding: 0px;
  box-shadow: 0 0 8px 0.5px #8f8f8f;
  display: inline-block; /* Mantiene las tarjetas en línea */
  vertical-align: top; /* Alinea las tarjetas en la parte superior */
  box-sizing: border-box; /* Incluye el padding y borde en el ancho y alto */
}

.tarjeta-vehiculo p {
  margin: 0%;
  padding: 0%;
  border: 0px;
}

.puertas {
  font-weight: bold;
  color: #4d4a5e;
  margin: 0px;
  padding: 10px;
  background-image: linear-gradient(to bottom, #ffffff, #e4e4e4); 
  text-align: right;
}
.nombre, .precio {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  block-size: 0%;
  margin: 0;
  padding: 0%;
}
.nombre{
  background-image: linear-gradient(to bottom, #ffffff, #e4e4e4); 
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto adicional */
  text-overflow: ellipsis;
}
.precio{
  text-align: right;
  background-image: linear-gradient(to bottom, rgb(255, 208, 0), #eeb90c);
}

